<div class="sidebar">
    <img src="{{ url_for('static', filename='LOGO TRIPLE A BRANCA_Prancheta 1.png') }}" alt="Logo Orla" class="img-fluid mb-4" style="max-width: 50%;">
    <a href="/">Home</a>
    <a href="/noticias">Notícias do Mercado</a>
    <a href="/indices">Consulta de Índices</a>
    <a href="/simulador">Simulador de Financiamento</a>
    <a href="/avaliacao">Avaliação de Imóveis</a>
    <a href="/construcao">Custo de Construção</a>
    <a href="/posicao-solar">Posição Solar</a>
    <a href="/perfil-cliente">Análise de Perfil de Cliente</a>
    <a href="/dicionario">Dicionário do Corretor</a>
    <a href="/biblioteca">Biblioteca</a>
    <a href="/universidade">Universidade</a>
    <a href="/agenda">Agenda</a>
    <br>
    <a href="{{ url_for('logout') }}" class="nav-link">Sair / Logout</a>

</div>

